<ion-view>
    <ion-content>
        <div class="list">
            <div class="item item-input text-center bradius">
                <i class="icon ion-ios-search"></i>
                <input type="text" placeholder="搜索标签、用户">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-33 padding1px">
                    <img src="images/img03.jpg">
            </div>
            <div class="col-33 padding1px">
                    <img src="images/img04.jpg">
            </div>
            <div class="col-33 padding1px">
                    <img src="images/img05.jpg">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-33 padding1px">
                <a href="#">
                    <img src="images/img03.jpg">
                </a>
            </div>
            <div class="col-33 padding1px">
                <a href="#">
                    <img src="images/img01.jpg">
                </a>
            </div>
            <div class="col-33 padding1px">
                <a href="#">
                    <img src="images/img04.jpg">
                </a>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-33 padding1px">
                <a href="#">
                    <img src="images/img02.jpg">
                </a>
            </div>
            <div class="col-33 padding1px">
                <a href="#">
                    <img src="images/img03.jpg">
                </a>
            </div>
            <div class="col-33 padding1px">
                <a href="#">
                    <img src="images/img04.jpg">
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>