<ion-view>
    <ion-header-bar>
        <div class="button  button-clear button-dark icon ion-chevron-left" style="position:absolute;left: 20px;"
             ui-sref="tabs.home"></div>
        <div class="button  button-clear button-dark" style="position:absolute;right: 20px;">设置</div>
        <h4 class="title"><i class="icon ion-"></i>个人主页</h4>
    </ion-header-bar>
    <div class="list has-subheader" style="margin:0 auto;text-align: center">
        <ion-item class="has-header bor_none">
            <div class="item-image" style="width: 30%;margin-left: 50%;transform: translateX(-50%)">
                <img style="border-radius: 50%;" src="images/avatars/avatar1.jpg">
                <h3 style="padding-top: 10px;margin-left: 50%;transform: translateX(-50%)">Ali Khan&nbsp;&nbsp;<i
                        style="color:hotpink" class="ion-female"></i></h3>
            </div>
        </ion-item>
        <ion-item class="bor_none">
            <div class="row">
                <div class="col">
                    <span>照片 23</span>
                </div>
                <div class="col">
                    <span>粉丝 23</span>
                </div>
                <div class="col">
                    <span>关注 23</span>
                </div>
            </div>
        </ion-item>
        <ion-item class="bor_none">
            <span><i style="color:orangered;" class="icon ion-leaf"></i>علي  خان</span>
        </ion-item>
        <ion-item class="bor_none">
            <div class="row">
                <div class="col"><img src="images/img04.jpg"></div>
                <div class="col"><img src="images/img05.jpg"></div>
                <div class="col"><img src="images/img01.jpg"></div>
            </div>
            <div class="row">
                <div class="col"><img src="images/img03.jpg"></div>
                <div class="col"><img src="images/img02.jpg"></div>
                <div class="col"><img src="images/img04.jpg"></div>
            </div>
            <div class="row">
                <div class="col"><img src="images/img02.jpg"></div>
                <div class="col"><img src="images/img03.jpg"></div>
                <div class="col"><img src="images/img04.jpg"></div>
            </div>
        </ion-item>
    </div>
    <ion-tabs class="has-header tabs-top bor_none">
        <ion-tab icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad">

        </ion-tab>
        <ion-tab icon-off="ion-navicon-round" icon-on="ion-navicon-round">
            <ion-view>
                <ion-content>
                    <ion-list class="card">
                        <ion-item class="item-avatar">
                            <img src="images/avatars/avatar1.jpg">
                            <h2>AliKhan</h2>
                            <p>2月前</p>
                        </ion-item>
                        <ion-item class="item-image">
                            <img src="images/img07.jpg">
                        </ion-item>
                        <ion-item>
                            <h4>可爱的小胖胖</h4><br>
                            <span class="tag">萌宠</span>
                            <span class="tag">猫咪</span>
                        </ion-item>
                        <ion-item class="bor_none paddingMin">
                            <p>10喜欢</p>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart">
            <ion-view>
                <ion-content>
                    <div class="row">
                        <div class="col"><img src="images/img01.jpg"></div>
                        <div class="col"><img src="images/img02.jpg"></div>
                        <div class="col"><img src="images/img03.jpg"></div>
                    </div>
                    <div class="row">
                        <div class="col"><img src="images/img04.jpg"></div>
                        <div class="col"><img src="images/img05.jpg"></div>
                        <div class="col"><img src="images/img06.jpg"></div>
                    </div>
                    <div class="row">
                        <div class="col"><img src="images/img07.jpg"></div>
                        <div class="col"><img src="images/img08.jpg"></div>
                        <div class="col"><img src="images/img01.jpg"></div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>