<ion-view view-title="添加好友">
<ion-header-bar>
    <button class="button button-clear button-positive" ui-sref="tabs.home"><i class="icon ion-chevron-left"></i></button>
    <h4 class="title"><i class="icon ion-person"></i>添加好友</h4>
</ion-header-bar>

    <ion-tabs class="tabs-striped tabs-top">
        <ion-tab title="达人" ui-sref="tabs.expert" >
            <ion-view name="home-expert"></ion-view>
        </ion-tab>
        <ion-tab title="新人" ui-sref="tabs.freshMen">
            <ion-view name="home-freshMen">22</ion-view>
        </ion-tab>
        <ion-tab title="微博" ui-sref="tabs.Weibo">
            <ion-view name="home-Weibo">33</ion-view>
        </ion-tab>
        <ion-tab title="微信" ui-sref="tabs.weChat">
            <ion-view name="home-weChat">44</ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>