<ion-tabs class="tabs-striped">
    <ion-tab icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="tabs.home">
        <ion-nav-view name="tabs-home">
            <!--<ion-content ></ion-content>-->
        </ion-nav-view>
    </ion-tab>

    <ion-tab icon-off="ion-ios-search" icon-on="ion-ios-search-strong" ui-sref="tabs.search">
        <ion-nav-view name="tabs-search">
        </ion-nav-view>
    </ion-tab>

    <ion-tab style="font-size: 33px" icon-off="ion-ios-circle-outline" icon-on="ion-ios-circle-filled" ui-sref="tabs.takePic">
        <ion-nav-view name="tabs-takePic">
        </ion-nav-view>
    </ion-tab>

    <ion-tab icon-off="ion-ios-bell-outline" icon-on="ion-ios-bell" ui-sref="tabs.followed">
        <ion-nav-view name="tabs-followed">
        </ion-nav-view >
    </ion-tab>

    <ion-tab icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="tabs.personal">
        <ion-nav-view name="tabs-personal">
        </ion-nav-view>
    </ion-tab>
</ion-tabs>